*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40pt;
    line-height: 40pt;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #002bff;
}

h2{
    font-weight: bolder;
    font-size: 25pt;
    text-transform: uppercase;
}

h3{
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    margin-bottom: 25px;
    color: #3b3c3d;
    letter-spacing: -0.5px;
}

p{
    font-weight: normal;
    font-size: 15pt;
    color: #3b3c3d;
}
/* Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body */
body{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar */
.uk-navbar-right{
    font-family: 'Poppins', sans-serif;
    color: #002bff;
    font-weight: 700;
    text-transform: uppercase;
    

}
/*MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES */
@media screen and (max-width:1200px){
    /* nav{
        padding-left: 10%;
        padding-right: 10%;    
    } */
    .container{
        width: auto;
        padding-left: 10%;
        padding-right: 10%;

    }
    }
@media screen and (max-width:1080px){
    nav{
        padding-left: 10%;
        padding-right: 10%; 
    }
    .navlink{
        width: 60%;
    }
    }

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    /* nav{
        background-color: #002bff;
        margin-bottom: -10vh;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
    } */

    /* .navlink{
        position: absolute;
        right: 0px;
        height:92vh;
        top: 8vh;
        background-color: #002bff;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.25s ease-in;
    }

    .navlink a{
        color: white;
        font-size: 17pt;
    }

    .navlink li{
        opacity: 0;
    }

    .burger{
        display: block;
    } */
}

/* I don't really understand what this part is, i think it is something about animating the mobile navbar */
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: (100px);
    }
    to{
        opacity: 1;
        transform: 0px;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);

}

/*SHOWCASE SHOWCASE SHOWCASE SHOWCASE SHOWCASE SHOWCASE SHOWCASE SHOWCASE SHOWCASE SHOWCASE SHOWCASE SHOWCASE SHOWCASE*/

#showcase{
    background-image:url('../IMG//KDS-web-top-bg-big.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -10vh;
    z-index: -1;
}
#topcontainer{
    max-width: 1200px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start
}
#textcontainhero{
    max-width: 700px;
    margin-top: 200px;

}



/* Main button Main button Main button Main button Main button Main button Main button Main button Main button Main button */

.middle{
    
}
.button1{
    width: 200px;
    height: 50px;
    border-style: solid;
    border-color: #002bff;
    background-color: transparent;
    border-width: 3px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 12pt;
    color: #002bff;
    cursor: pointer;
    overflow: hidden;
    transition: 1s all ease;
}

.button1::before{
    background: #002bff;
    content: "";
    width: 100%;
    height: 100%;

}
